In [2]:
# 01-Cutoffs.ipynb

In [3]:
import pickle 
import pandas as pd

In [3]:
## NRCB1 

# F115W - F212N 
F115W_F212N = { 
    "F115W": [[(6.25, 21.5), (7.25, 22.8)], 
                [(6.25, 21.2), (7.25, 22.5)]], 
    "F212N": [[(6.25, 15.25), (7.25, 15.625)], 
                [(6.25, 15.00), (7.25, 15.375)]]
}   

# F212N vs. F405N 
F212N_F405N = { 
    "F212N": [[(1.75, 15.25), (1.95, 15.625)], 
                [(1.75, 15.025), (1.95, 15.4)]], 
    "F405N": [[(1.75, 13.5), (1.9, 13.625)], 
                [(1.75, 13.375), (1.9, 13.5)]]
} 

NRCB1_CUTOFFS = {
    "F115W_F212N": F115W_F212N, 
    "F212N_F405N": F212N_F405N, 
}

In [4]:
with open("/Users/devaldeliwala/mulab/v1/assets/NRCB1_cutoffs.pkl", "wb") as f: 
    pickle.dump(NRCB1_CUTOFFS, f)

In [4]:
# Overall cutoffs 
with open("/Users/devaldeliwala/mulab/v1/assets/red_clump_cuts.pkl", "rb") as f: 
    red_clump_cuts = pickle.load(f)

columns_to_drop = ['Unnamed: 0', 'Unnamed: 0.1', 'catalog1zp', 'catalog2zp']
df = red_clump_cuts.loc[[0, 6, 12, 18]].drop(columns=columns_to_drop)

with open("/Users/devaldeliwala/mulab/assets/red_clump_cuts.pkl", "wb") as f: 
    pickle.dump(df, f)

In [20]:
# Preliminary F115W-F212N Cutoffs

In [21]:
with open("/Users/devaldeliwala/mulab/assets/red_clump_cuts.pkl", "rb") as f: 
    cuts = pickle.load(f)

In [38]:
cuts.loc[18, 'parallel_cutoff1'] = '[(6.3, 21.0), (9, 24.9)]' 
cuts.loc[18, 'parallel_cutoff2'] = '[(6.3, 21.7), (9, 25.6)]'

In [39]:
cuts.loc[6, 'parallel_cutoff1'] = '[(6.3, 21.0), (9, 24.9)]'
cuts.loc[6, 'parallel_cutoff2'] = '[(6.3, 21.7), (9, 25.6)]'

In [44]:
with open("/Users/devaldeliwala/mulab/assets/red_clump_cuts.pkl", "wb") as f: 
    pickle.dump(cuts, f)

In [43]:
cuts

,region1,region2,regiony,catalog1,catalog2,catalogy,x_range,parallel_cutoff1,parallel_cutoff2
0,NRCB1,NRCB1,NRCB1,F115W,F212N,F115W,"[6.0, 8.25]","[(6, 21.3), (8, 24.1)]","[(6, 20.5), (8, 23.3)]"
6,NRCB2,NRCB2,NRCB2,F115W,F212N,F115W,"[6.0, 8.25]","[(6.3, 21.0), (9, 24.9)]","[(6.3, 21.7), (9, 25.6)]"
12,NRCB3,NRCB3,NRCB3,F115W,F212N,F115W,"[6.5, 8.5]","[(6, 21.3), (8, 24.1)]","[(6, 20.5), (8, 23.3)]"
18,NRCB4,NRCB4,NRCB4,F115W,F212N,F115W,"[6.5, 9.0]","[(6.3, 21.0), (9, 24.9)]","[(6.3, 21.7), (9, 25.6)]"